

body{
    background-color: burlywood;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    background-color:beige;
    width:100%;
    display: flex;
    justify-content: space-around;
    
}
.menu{
    width: 900px;
    margin:0 auto;

}
.menu img{
    width: 50px;
    height: 50 px;
    border-radius: 100%;
}

.card-title{
    font-family: 'Indie Flower', cursive;  
}

.card-img-bottom{
    width: 100%;
    height:auto;
    border: 2px solid black;
  
}



.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "tienda1 imagen1"
    "imagen2 tienda2";
    gap: 2px;
    font-size: large;
    color: black;
    text-align: center;
    max-width: 1080px;
    margin:auto;
    font-style: oblique;
    align-items: center;
    
}
.tienda1{
    grid-area: tienda1;
}
.imagen1{
    grid-area: imagen1;
    width: 50px;
    height: auto;
}
.imagen2{
    grid-area: imagen2;
}
.tienda2{
    grid-area: tienda2;
    width: 50px;
    height: auto;
}




.tiendas{
    background-color:beige;
    color:black;
    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
    text-align: center;
}

.ubicacion{
    background-color:beige ;
    font-family: 'Indie Flower', cursive;
    width: 100%;
    
    text-align: center;
}
.img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
 



#cierre .pie{
    text-align: center;
    background-color:  whitesmoke;

}

@media screen and (max-width: 768px){
    nav ul li a {
        font-size: 14px;
    }
    body{
        background-color: beige;
    }
    .mapa img{
        width: 100%;

    }
}