

body{
    background-color: burlywood;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bgNav{
    color: burlywood;
}
a{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  ;

}
.menu{
    width: 900px;
    margin:0 auto;
    display: flex;
    align-items: center;

}
.menu img{
    width: 50px;
    height: 50 px;
    border-radius: 100%;
}

.encabezado{
  width: 70%;
  height: auto;
  display: block;
  margin: 0px auto;
 
}




#envio{
    background-color: beige;

}
#envio .transporte img{
    width: 100px;
    height: auto;

}
#envio .transporte{
    color:peru;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    border: 8px solid peru;
}

.container{
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    color:black;
    background-color: beige;
  
}

.table{
    background-color: bisque;
    border: 2px solid black;
}






#cierre .pie{
    text-align: center;
    background-color:whitesmoke;

}

@media screen and (max-width: 768px){
    
    
    body{
        background-color: beige;
    }
    
    .encabezado{
        display: none;
    }
}