

body{
    background-color: burlywood;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bgNav{
    color: burlywood;
}
a{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  ;

}
    

.menu{
    width: 900px;
    margin:0 auto;
    display: flex;
    align-items: center;

}
.menu img{
    width: 50px;
    height: 50 px;
    border-radius: 100%;
}

.card-title{
    font-family: 'Indie Flower', cursive;  
}

.card-img-bottom{
    width: 100%;
    height:auto;
    border: 2px solid black;
  
}

#ubicacion .contenido{
    font-family:'Indie Flower', cursive; 
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "tienda1 imagen1"
    "tienda2 imagen2";
    gap: 2px;
    font-size: large;
    color: black;
    font-style: oblique;
    text-align: center;
    max-width: 1080px;
    height: 100vh;
    margin:auto;
    margin-bottom: 20rem;
    
    align-items: center;
    
}
.tienda1{
    grid-area: tienda1;
}
.imagen1{
    grid-area: imagen1;
    
}
.imagen2{
    grid-area: imagen2;
   
}
.tienda2{
    grid-area: tienda2;
    
}




.tiendas{
    background-color:beige;
    color:black;
    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
    text-align: center;
}

.ubicacion{
    background-color:beige ;
    font-family: 'Indie Flower', cursive;
    width: 100%;
    
    text-align: center;
}
.img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
 



#cierre .pie{
    text-align: center;
    background-color:  whitesmoke;

}



@media  (max-width: 768px){
    
    body{
        background-color: beige;
    }
    

    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "tienda1 imagen1"
        "tienda2 imagen2";
        gap: 2px;
        font-size: large;
        color: black;
        font-style: oblique;
        text-align: center;
        max-width: 1080px;
        height: 100vh;
        margin:auto;
        margin-bottom: 20rem;
        
        align-items: center;
    }
    .tienda1{
        grid-area: tienda1;
    }
    .imagen1{
        grid-area: imagen1;
        
    }
    .imagen2{
        grid-area: imagen2;
       
    }
    .tienda2{
        grid-area: tienda2;
        
    }
}

    
