*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    
}

body{
    background-color:burlywood ;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    background-color:beige;
    width:100%;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px;
    
}
.menu{
    width: 900px;
    margin:0 auto;
    display: flex;
    align-items: center;

}
.menu img{
    width: 50px;
    height: 50 px;
    border-radius: 100%;
}
.checkboton{
    font-sixe: 30px;
    color:white;
    display: none;
}
#check{
    display: none;
}

nav{
    margin-right:  5rem;
}
nav ul {
    display: flex;
}
nav ul li{
    list-style: none;
    margin-left: 25px;
    padding:25px 0;
}
nav ul li a{
    text-decoration: none;
    color:burlywood;
    font-weight: bold;
    font-size: 20px;
    padding-right: 10px;
}
nav ul li:hover{
    background-color: brown;
    
    transition: 5s;
}
nav ul li a:visited{
    color:peru;
 }

#list-example{
    text-decoration: none;
}



#cafeteria {
    background-color: whitesmoke;
}
h1{
    font-size: 70px;
    color:beige;
    text-align: center;
}
.contenedor{
    width: 100%;
    margin: auto;
}
img{
    width: 100%;
}
h2{
    text-align: center;
}
.bolsas-columna{
    margin: 5px;
}
.bolsas .contenedor{
    display: grid;
    grid-template-columns: repeat(2,50%);
}

.contenido{
    color:peru;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;

}
#cafeteria .filtros{
    color:whitesmoke;
}



.cafeteras{
    background-color: beige;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    padding: 2rem;
    justify-content: center;
    border: 2px solid blanchedalmond;
}












#cierre .pie{
    text-align: center;
    background-color: whitesmoke;
}

@media (max-width: 768px){
    header{
        flex-direction: column;
    }
    .checkboton{
        display: flex;
    }
    nav{
        padding: 0px 30px;
    }
    ul{
        position: absolute;
        width: 100%;
        height: auto;
        top: 80px;
        text-align: center;
        flex-direction: column;
    }
    nav ul li{
        margin: 20 px 0;
    }
    nav ul li a {
        font-size: 20px;
    }
    #check:checked ~ul{
        left: 0;
    }
    body{
        background-color: beige;
    }

    .contenedor{
        width: 100%;
        margin: auto;
    }
    .img{
        width: 100%;
    }
    .bolsas-columna{
        margin: 5px;
    }
    .bolsas .contenedor{
        display: grid;
    }
    
    
    
   .footer{
        width: 100%;
    }
}
