

body{
    background-color: burlywood;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    background-color:beige;
    width:100%;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.menu{
    width: 900px;
    margin:0 auto;

}
.menu img{
    width: 50px;
    height: 50 px;
    border-radius: 100%;
}




#envio{
    background-color: beige;

}
#envio .transporte img{
    width: 100px;
    height: auto;

}
#envio .transporte{
    color:peru;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    border: 8px solid peru;
}

.container{
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    color:black;
    background-color: beige;
  
}

.table{
    background-color: bisque;
    border: 2px solid black;
}






#cierre .pie{
    text-align: center;
    background-color:whitesmoke;

}

@media screen and (max-width: 768px){
    header{
        flex-direction: column;
    }
    nav ul li a{
        font-size: 14px;
    }
    body{
        background-color: beige;
    }
    
}